.card
{
    width: 25vw;
    padding: 20px;
    background-color:#eefff7;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: start;
}


.cardHeader
{
    margin-top: 5px;
    color: rgb(34, 33, 33);
}

.cardTop
{
    margin-top: 10px;
    color: #527a7a;
   
}


.displayCards
{
    margin-top: 50px;
    margin-left: 100px;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 50px;
}