input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffffff;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid rgb(141, 141, 141);
}

input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    
    top: -2px;
    left: -1px;
    position: relative;
    background-color: rgb(5, 151, 142);
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}


.register-register {
    width: 1600px;
    height: 900px;
    padding: 20px;
    border: 1px solid #777777;
    display: flex;
    justify-content: center;
    color: #313131;
    background-color: #F7F4EC;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.registerImg {
    width: 850px;
    height: 1050px;
}


.register-contents {
    display: flex;

    padding: 20px;
    width: 600px;
    height: 1000px;
    flex-direction: column;
    justify-content: start;

}

.signUp {
    font-size: xx-large;
    font-weight: bold;
    color: #4c5854;
}

.paswordRegister {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.paswordRegister input {
    margin-left: 45px;
}

.signUpImg {
    width: 300px;
}

.headingRegister {
    display: flex;
    justify-content: center;
    align-items: center;
}



.hospitalImg {
    width: 150px;
    border-radius: 100%;
    height: 150px;
    background-color: white;
    margin-left: 250px;
    border: 1px solid #d2dbd9;
}

.type-entity {
    margin-top: 10px;
    display: flex;

}

.type-organization {
    margin-top: 10px;
    display: flex;

}

.radioLeft {
    margin-left: 22px;
}

.inputRegister {
    all: unset;
    width: 300px;
    margin-top: 5px;
    padding: 10px;
    background-color: white;
}

.timingsRegister {
    margin-top: 10px;


}

.timings {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.TimePickerOne {
    margin-left: 13px;
    background-color: white;
    
}

.TimePickerTwo {
    margin-left: 20px;
    background-color: white;
}

.phnoNumberRegister {
    display: flex;
    align-items: center;
}

.phnoNumberRegister input {
    all: unset;
    margin-left: 40px;
    margin-top: 10px;
    width: 300px;
    padding: 10px;
    background-color: white;
}

.locationRegister {
    display: flex;
    align-items: center;
}

.locationRegister input {
    all: unset;
    margin-top: 10px;
    width: 300px;
    padding: 15px;
    height: 10px;
    margin-left: 45px;
    background-color: white;
}


.addressRegister {
    margin-top: 10px;
    display: flex;

}

.addressRegister textarea {
    all: unset;
    width: 300px;
    padding: 5px;
    background-color: white;
    margin-left: 47px;
}


.registerHospital {
    all: unset;
    margin-top: 20px;
    width: 600px;
    margin-left: 0px;
    padding: 15px;
    background-color: rgb(5, 151, 142);
    color: white;
    text-align: center;
    cursor: pointer;
    transition: 0.3s ease-in;
}

.registerHospital:hover {
    transition: 0.3s ease-out;
    scale: 1.01;
}

.hospitalName,
.hospitalCode {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.hospitalName input {
    all: unset;

    margin-left: 10px;
    padding: 10px;
    width: 300px;
    background-color: white;
}

.registerSchemes {
    margin-top: 10px;
}

.hospitalCode input {
    margin-left: 15px;
}

.TimePicker {
    margin-top: 5px;
}

.nameRegsiter {
    margin-left: 0px;
}

.radioEntity {
    margin-left: 8px;
}

.checkbox {
    margin-left: 45px;
}

.registerSchemes {
    display: flex;
}

.leftValuesRegister
{
    color: #8c908e;
}

.dpRegister
{
    position: relative
}

.addProfile
{
        width: 40px;
        height: 40px;
        position: absolute;
        bottom: 25px;
        right: 190px;
        cursor: pointer;
        
}

.paswordRegister{
    position: relative
}

.chooseFileRegister
{
    visibility: hidden;
}


